apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  labels:
    created-by: {{ vault_injector_created_value }}
    managed-by: {{ vault_injector_base_value }}-{{ injector_id }}
type: Opaque
data:
{% for key,value in secrets_dict.items() %}
  {{ key }}: '{{ value }}'
{% endfor %}