apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
{% if labels_dict and labels_dict.keys() | length != 0 %}
  labels:
{% for label,value in labels_dict.items() %}
  '{{ label }}': '{{ value }}'
{% endfor %}
{% endif %}
type: Opaque
data:
{% for key,value in data_dict.items() %}
  '{{ key }}': '{{ value }}'
{% endfor %}