apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  labels:
{% for label,value in label_dict.items() %}
  '{{ label }}': '{{ value }}'
{% endfor %}
type: Opaque
data:
{% for key,value in data_dict.items() %}
  '{{ key }}': '{{ value }}'
{% endfor %}